@font-face {
  font-family: "Rudy's Font";
  src: url('/fonts/SignPainter-HouseBrush.otf') format('opentype');
}

body {
  background-color: rgb(90, 90, 90);
  color: white;
  font-family: "Rudy's Font";
  overflow: auto;
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

h1 {
  font-size: 3rem;
  text-align: center;
}

.buttonsDiv {
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 100%;
  background-color: rgb(217, 59, 32);
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
  overflow: auto;
  border-right: 3px solid black;
}

.buttonsDiv::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

.container {
  margin-left: 275px;
  margin-top: 0;
  width: calc(100% - 275px);
  display: flex;
  justify-content: center;
  flex-direction: column;
}

h3 {
  font-size: 1.5rem;
  margin-left: 25px;
  margin-bottom: 1px;
  margin-top: 5px;
}

.menu {
  font-size: 1.5rem;
  margin-left: 0;
  margin-bottom: 1px;
  margin-top: 5px;
}

select {
  font-size: 1rem;
  margin-left: 5px;
  margin-top: 15px;
  background-color: gray;
  color: white;
}

button {
  margin: 5px;
  font-size: 1rem;
  color: black;
  background-color: white;
  border: solid black;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: grey;
  color: white;
}

.editButton {
  margin-left: 15px;
}

#closeButton {
  position: absolute;
  top: 0;
  right: 0;
  margin: 5px;
  font-size: 1.5rem;
  color: black;
  background-color: white;
  border: solid black;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
}

#closeButton .fa-times {
  margin-left: 5px;
}

#closeButton:hover {
  background-color: grey;
  color: white;
}

.targetWeightContainer > div {
  margin-left: 50px;
  display: inline-block;
}

.targetInputs {
  margin-left: 5px;
  width: 50px;
}

.currentCompetitorsList {
  list-style: none;
  padding: 0;
  display: flex;
}

.currentCompetitorsList li {
  margin-left: 50px;
}

.competitor-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 5px;
}

.competitor-header {
  display: flex;
  align-items: center;
  margin-bottom: 0px;
  font-size: 1.5rem;
}

.competitor-item input[type='checkbox'] {
  margin-right: 10px;
}

.eliminated {
  font-size: 1rem;
  font-family: 'Courier New', monospace;
  font-style: italic;
  font-weight: bold;
}

.scoring {
  margin-left: 35px;
}

.hidden {
  display: none;
}

.rounds-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  font-family: 'Courier New', monospace;
}

.rounds-container > div {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.rounds-container > div > span {
  margin-bottom: 5px;
}

.rounds-container > div > .speed-inputs {
  display: flex;
  align-items: center;
}

.rounds-container > div > .speed-inputs > input {
  width: 60px;
  margin-right: 5px;
}

.rounds-container > div > .speed-inputs > span {
  margin: 0 5px;
}

.scoring h4 {
  margin-top: 20px;
}

#reloadDefaultData {
  margin-left: 50px;
}

#reloadDefaultData .fa-times {
  margin-left: 5px;
}

#reloadDefaultData:hover {
  background-color: grey;
  color: white;
}

.perfectCutBonusDiv {
  font-family: 'Courier New', monospace;
  margin-bottom: 10px;
  font-weight: bold;
}

.perfectCutBonusInput {
  width: 50px;
}

.scoring div {
  margin-bottom: 10px;
}

.scoring div span {
  display: block;
  margin-bottom: 5px;
}

.scoring div input {
  display: inline-block;
  width: 50px;
  margin-right: 5px;
}

.scoringTable {
  margin-left: 50px;
}

.scoreTable {
  border-collapse: collapse;
}

.scoreTable th,
.scoreTable td {
  border: 1px solid black;
  padding: 8px;
  text-align: left;
}

.scoreTable th {
  background-color: rgb(217, 59, 32);
  font-family: 'Courier New', monospace;
}

.scoreTableInputs {
  width: 30px;
}

.totalCell {
  text-align: center;
  font-family: 'Courier New', monospace;
}
