@font-face {
    font-family: 'Rudy\'s Font';
    src: url('/fonts/SignPainter-HouseBrush.otf') format('opentype');
}


body {
    background-color: rgb(217, 59, 32);
    color: white;
    font-family: 'Rudy\'s Font';
}

.display {
    font-size: 4em;
    margin: 10px;
}

.winner {
    font-size: 3em;
    text-align: center;
    display: none;
}

.timer-title {
    font-size: 1.75em;
    text-align: center;
    display: none;
}

.timer-subtitle {
    font-size: 1.15em;
    text-align: center;
    display: none;
}

.timer {
    font-size: 2.75em;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.display {
    display: inline-block;
    padding: 0 10px;
    text-align: center;
    font-family: 'Courier New', monospace;
    vertical-align: middle;
}

.logo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
  }